body, html {
  cursor: url(http://www.picgifs.com/food-and-drinks/food-and-drinks/eggs/food-and-drinks-eggs-252212.gif), auto;
/*  margin-left:10%;*/
  /*margin-right:5%;
}*/
}
.title {
    display: block;
    margin : auto;
    justify-content: center;
    padding-top: 80px;
    width: 90vw;
    height: 60vw;
    max-width: 800px;
    max-height: 165px;
    display: relative;
    z-index: 1;
}


#iconContainer {
    z-index: -5;
    margin: 0 auto;
    width: 90vw;
    height: 60vw;
    padding-top: 50px;
    min-width: 300px;
    min-height: 100px;
    max-width: 1200px;
    max-height: 200px;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    background-color: none;
    margin-top: 10px;
    justify-content: space-evenly;
}


img {
  width: 300px;
  height: 300px;
  margin-top: 20px;

}

.search-form{

    align-items: center;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    width: 80vw;
    position: relative;
    height: 45px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 10px;
}
  

  .search-term {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 8px;
    display: inline;
    background-color: white;
    font-size: 16px;
    height: 30px;
    width: 60%;
    position: relative;
    border: solid, black;
    border-radius: 5px;
    padding-left: 20px;
}

.search-btn {
  
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 5px;
    width: 35%;
    position: relative;
    height: 30px;
    display:inline;
    background-color: lightgreen;
    border-radius: 50px;
    box-sizing: 1px;

    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}


/*li {
    margin-left: 150px;
    /*flex-wrap: wrap;*/
/*    justify-content: space-evenly;
    display: inline;
}*/

p {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 20px;
    flex-wrap: wrap;


}

.result-image{

    padding-top: 100px;

   /* margin-top: 50px;*/
    margin-left: 5%;
    margin-right: 5%;
  
    width:15%;
    height:15%;


    overflow: hidden;
    vertical-align: middle;
    table-layout: fixed;
    float:left;
   

    display :table-cell;
    justify-content: center;


    
}



.ingredientImage {
    width: 100px;
    height: 100px;
}

.ingredientImage:hover {
    animation-name: colorChange;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes colorChange {
    0%   {background-color: #f1e3e0;}
    14%  {background-color: #f1e3e0;}
    28%  {background-color: #f1e3e0;}
    42% {background-color: #f1e3e0;}
    56% {background-color: white;}
    70% {background-color: white;}
    84% {background-color: white;}
    98% {background-color: white;}
}

